
@using MvcApplication1.Models
@model MvcApplication1.Models.Message
@{
    Layout = null;
    var i = 0;
    var messageList = ViewData["Messages"] as List<Message>;

    
    
} 
<table class="list_box_table">
  
@{foreach( Message m in messageList) {

       string truncatedMessage = m.Message1;
       if (truncatedMessage.Count() > 30)
       {
           truncatedMessage = truncatedMessage.Substring(0,30);
           if (truncatedMessage.Contains('\n'))
           {
               truncatedMessage = truncatedMessage.Split('\n')[0];
           }
       }
       string mailIcon = "";
       if(m.IsRead == true)
       {
           mailIcon = "/Images/mail.png";
       }   
       else
       {
           mailIcon = "/Images/mailred.png";
       
       } 
      
      
   		<tr  @Html.Raw(String.Format("id=\"{0}\"", m.MessageID)) class="list_box_class" >
        <td class="msgthumbnail"> 
        <img style="width:30px" src="@mailIcon">
   		</td>

        <td  id="Sender" class="sender">
            From: @m.SenderName
        </td>
             
        <td id="TruncatedMessage" class="truncatedmessage" >
        	@truncatedMessage
        </td>
             
        <td id="SendDate" class="senddate">
        	@m.SendDate
        </td>
        </tr>

<script>
    $(@Html.Raw(String.Format("'#{0}'", m.MessageID))).mousedown(function (event) {
        switch (event.which) {
            case 1: //LMB click
                $('#overlay_content').html('<progress max="100"></progress>');
                $('#overlay_parent').css('visibility', 'visible');
                $.post('./GetMessage', {id: @m.MessageID}, function(result){
                    $('#overlay_content').html(result);
                });
                break;
            case 3: //RMB click
                var w = window.open();
                $(w.document.body).html('<progress max="100"></progress>');
                $.post('./GetMessage',{id: @m.MessageID}, function(result){
                    $(w.document.body).html(result);
                });
                break;
            default: //not useful
                break;
        }
    });
</script>
    
  }
}

</table>
