
@using MvcApplication1.Models
@model MvcApplication1.Models.Message
@{
    Layout = null;
    var i = 0;
    var messageList = ViewData["Messages"] as List<Message>;
} 

@{foreach( Message m in messageList) {
      
<div class="list_box_class" @Html.Raw(String.Format("id=\"list_box_{0}\"", i++))>
    <table class="list_box_table">
   		<tr>
        <td style="width:50px">
      		<img class="thumbnail" src="~/Images/heroAccent.png">
   		</td>
        <td style="width:20px" id="Sender" class="sender">
            @m.SenderName
        </td>
        <td style="width:100px" id="TruncatedMessage" class="truncatedmessage">
        	@m.Message1
        </td>
               
        <td style="width:50px" id="IsRead" class="isread">
            @m.IsRead
        </td>
        <td style="width:50px"  id="SendDate" class="senddate">
        	@m.SendDate
        </td>
        </tr>
   </table>
</div>
<script>
    $(@Html.Raw(String.Format("'#list_box_{0}'", i))).click(function (event) {
       
    });
</script>
}
}