@{
    Layout = null;
    
    MvcApplication1.Models.Book book;
    List<MvcApplication1.Models.Book> bookList = (List<MvcApplication1.Models.Book>) ViewData["BookList"];
}

@{if(bookList != null)
  {
      for (int i = 0; i < bookList.Count; i++)
      {
          book = bookList[i];
          
<div class="list_box_class" @Html.Raw(String.Format("id=\"list_box_{0}\"", i))>
    <table class="list_box_table">
   		<tr>
        <td>
      		<img class="thumbnail" src="~/Images/heroAccent.png">
   		</td>
        <td id="Title" class="title">
            @book.BookName
        </td>
        <td id="Author" class="author">
        	@book.Author
        </td>
        <td id="Course" class="course">
            @book.Course.abbrev()
        </td>
        <td id="Instructor" class="instructor">
        	@book.Course.Instructor
        </td>
        <td id="Semester" class="semester">
        	@book.Course.Semester
        </td>
        </tr>
   </table>
</div>
<script>
    $(@Html.Raw(String.Format("'#list_box_{0}'", i))).click(function (event) {
        $('#overlay_parent').css('visibility', 'visible');
        $('#overlay_div').html('<progress max="100"></progress>');
        $.get('@Url.Action("PopupTest", "Bookshelf", new { id = i })', null, function (result) {
            $('#overlay_content').html(result);
        });
    });
</script>
        }
  }
}